//doc
  ---
  title: circle
  name: circle
  category:
    - shortcuts
    - shapes
  ---

  <code class="usage-example">
    +circle(20px)
  </code>

  Short hand for declaring same width and height to an element, while at the
  same time applying a rounded border of the same size of the element, thus
  creating an element which will appear to be a circle.
  The mixin doesn't specify any units, so it's up to you to pass them
  in the parameters.

  Parameter           | Description
  --------------------|--------------------------------------------------------------
  `$size`             | Size of the element (width and height).

//enddoc

= circle($size)
  +square($size)
  border-radius: $size