//doc
  ---
  title: font
  name: font
  category:
    - shortcuts
    - typography
  ---

  <code class="usage-example">
    +font(12)
  </code>

  Sets the font size of an element using rem units (with fallback to px).
  You have to pass a unitless value for the font size,

  **Important**: requires the html font size to be set to 62.5% in order to
  make 1rem ~= 10px.

  Parameter         | Default       | Description
  ------------------|---------------|------------------------------
  `$size`           |               | Font size to use, **unitless**, as if you were using px to define it.
  `$line-height`    | 150%          | *(Optional)* Specify the leading.
  `$letter-spacing` | normal        | *(Optional)* Specify the tracking.

//enddoc

= font($size, $line-height: 150%, $letter_spacing: normal)
  // Fallback for browsers which don't support rem
  font-size: ($size) + px
  font-size: ($size / 10) + rem
  line-height: $line-height
  letter-spacing: $letter_spacing