//doc
  ---
  title: full-size
  name: full-size
  category:
    - shortcuts
  ---

  <code class="usage-example">
    +full-size
  </code>

  Makes an element take all available space and positions it in the top left
  or the parent element.

  Parameter         | Default       | Description
  ------------------|---------------|------------------------------
  `$position`       | absolute      | Position property for the element. Possible values: static, relative, fixed, absolute.

//enddoc

= full-size($position: absolute)
  position: $position
  top: 0
  left: 0
  width: 100%
  height: 100%