//doc
  ---
  title: hover
  name: hover
  category: shortcuts
  ---

  <code class="usage-example">
    +hover(red, blue)
  </code>

  Short hand for declaring the hover effects on elements.
  It sets the color of the text and optionally the background, and applies a transition to both properties.

  Parameter           | Default       | Description
  --------------------|---------------|--------------------------------------------------------------
  `$color`            | `false`       | *(Optional)* Base color of the element, when not hovered.
  `$color_hover`      | `false`       | *(Optional)* Color of the element when hovered.
  `$background`       | `false`       | *(Optional)* Base background of the element when not hovered.
  `$background_hover` | `$background` | *(Optional)* Background of the element when hovered.

//enddoc

= hover($color: false, $color_hover: false, $background: false, $background_hover: $background)
  +transition(color 0.2s, background 0.2s)
  @if $background
    background: $background
  @if $color
    color: $color
  &:hover
    @if $color_hover
      color: $color_hover
    @if $background_hover
      background: $background_hover
