//doc
  ---
  title: position
  name: position
  category:
    - shortcuts
  ---

  <code class="usage-example">
    +position
  </code>

  Shortcut to define the position (`position` and `top`, `right`, `bottom` and `left` properties) of an element in one line.

  Parameter         | Default       | Description
  ------------------|---------------|------------------------------
  `$top`            | auto          |
  `$right`          | auto          |
  `$bottom`         | auto          |
  `$left`           | auto          |
  `$position        | absolute      |

//enddoc

= position($top: auto, $right: auto, $bottom: auto, $left: auto, $position: absolute)
  position: $position
  top: $top
  right: $right
  bottom: $bottom
  left: $left