$border-radius: 3px !default

//doc
  ---
  title: rounded
  name: rounded
  category:
    - shortcuts
    - rounded corners
  ---

  <code class="usage-example">
    +rounded
  </code>

  Makes all corners of the element rounded.

  Parameter         | Default       | Description
  ------------------|---------------|------------------------------
  `$radius`         | 3px           |

//enddoc

= rounded($radius: $border-radius)
  border-radius: $radius




//doc
  ---
  title: rounded-top
  name: rounded-top
  category:
    - shortcuts
    - rounded corners
  ---

  <code class="usage-example">
    +rounded-top
  </code>

  Makes the top corners (top left and top right) of the element rounded.

  Parameter         | Default       | Description
  ------------------|---------------|------------------------------
  `$radius`         | 3px           |

//enddoc

= rounded-top($radius: $border-radius)
  border-radius: $radius $radius 0 0




//doc
  ---
  title: rounded-right
  name: rounded-right
  category:
    - shortcuts
    - rounded corners
  ---

  <code class="usage-example">
    +rounded-right
  </code>

  Makes the right corners (top right and bottom right) of the element rounded.

  Parameter         | Default       | Description
  ------------------|---------------|------------------------------
  `$radius`         | 3px           |

//enddoc

= rounded-right($radius: $border-radius)
  border-radius: 0 $radius $radius 0




//doc
  ---
  title: rounded-bottom
  name: rounded-bottom
  category:
    - shortcuts
    - rounded corners
  ---

  <code class="usage-example">
    +rounded-bottom
  </code>

  Makes the bottom corners (bottom left and bottom right) of the element rounded.

  Parameter         | Default       | Description
  ------------------|---------------|------------------------------
  `$radius`         | 3px           |

//enddoc

= rounded-bottom($radius: $border-radius)
  border-radius: 0 0 $radius $radius




//doc
  ---
  title: rounded-left
  name: rounded-left
  category:
    - shortcuts
    - rounded corners
  ---

  <code class="usage-example">
    +rounded-left
  </code>

  Makes the left corners (top left and bottom left) of the element rounded.

  Parameter         | Default       | Description
  ------------------|---------------|------------------------------
  `$radius`         | 3px           |

//enddoc

= rounded-left($radius: $border-radius)
  border-radius: $radius 0 0 $radius




//doc
  ---
  title: rounded-bottom-left
  name: rounded-bottom-left
  category:
    - shortcuts
    - rounded corners
  ---

  <code class="usage-example">
    +rounded-bottom-left
  </code>

  Makes the bottom left corner of the element rounded.

  Parameter         | Default       | Description
  ------------------|---------------|------------------------------
  `$radius`         | 3px           |

//enddoc

= rounded-bottom-left($radius: $border-radius)
  border-radius: 0 0 0 $radius




//doc
  ---
  title: rounded-bottom-right
  name: rounded-bottom-right
  category:
    - shortcuts
    - rounded corners
  ---

  <code class="usage-example">
    +rounded-bottom-right
  </code>

  Makes the bottom right corner of the element rounded.

  Parameter         | Default       | Description
  ------------------|---------------|------------------------------
  `$radius`         | 3px           |

//enddoc

= rounded-bottom-right($radius: $border-radius)
  border-radius: 0 0 $radius 0




//doc
  ---
  title: rounded-top-left
  name: rounded-top-left
  category:
    - shortcuts
    - rounded corners
  ---

  <code class="usage-example">
    +rounded-top-left
  </code>

  Makes the top left corner of the element rounded.

  Parameter         | Default       | Description
  ------------------|---------------|------------------------------
  `$radius`         | 3px           |

//enddoc

= rounded-top-left($radius: $border-radius)
  border-radius: $radius 0 0 0




//doc
  ---
  title: rounded-top-right
  name: rounded-top-right
  category:
    - shortcuts
    - rounded corners
  ---

  <code class="usage-example">
    +rounded-top-right
  </code>

  Makes the top right corner of the element rounded.

  Parameter         | Default       | Description
  ------------------|---------------|------------------------------
  `$radius`         | 3px           |

//enddoc
= rounded-top-right($radius: $border-radius)
  border-radius: 0 $radius 0 0