//doc
  ---
  title: size
  name: size
  category: shortcuts
  ---

  <code class="usage-example">
    +size(20px, 30px)
  </code>


  Short hand for defining width and height at the same time. The mixin doesn't specify any units, so it's up to you to pass them in the parameters.

  Parameter           | Description
  --------------------|--------------------------------------------------------------
  `$width`            | Width of the element.
  `$height`           | Height of the element.

//enddoc

= size($width, $height)
  width: $width
  height: $height




//doc
  ---
  title: dimensions
  name: dimensions
  category: shortcuts
  ---
  *Alias for [size](#size).*

//enddoc

= dimensions($width, $height)
  +size($width, $height)





