//doc
  ---
  title: square
  name: square
  category:
    - shortcuts
    - shapes
  ---

  <code class="usage-example">
    +square(20px)
  </code>

  Short hand for declaring same width and height to an element.
  The mixin doesn't specify any units, so it's up to you to pass them
  in the parameters.

  Parameter           | Description
  --------------------|--------------------------------------------------------------
  `$size`             | Size of the element (width and height).

//enddoc

= square($size)
  +size($size, $size)