//doc
  ---
  title: Center vertically
  name: Center vertically
  category:
    - shortcuts
    - centering
  ---

  <code class="usage-example">
    +vertically-centered(28px)
  </code>

  Single-line element with content centered vertically.
  It specifies the height and line-height of the element to the same value.


  Parameter         | Default       | Description
  ------------------|---------------|------------------------------
  `$height`         |               | Height of the element.

//enddoc

= vertically-centered($height)
  height: $height
  line-height: $height

//doc
  ---
  title: vcenter
  name: vcenter
  category:
    - shortcuts
    - centering
  ---

  Alias for `+vertically-centered`.
//enddoc

= vcenter($height)
  +vertically-centered($height)