//doc
  ---
  title: triangle
  name: triangle
  category:
    - ornaments
  ---

  <code class="usage-example">
    +triangle(5px, blue, top)
  </code>

  Uses the ``:before`` pseudo-element to display a triangle.

  Parameter           | Default       | Description
  --------------------|---------------|------------------------------
  `$size`             |               | Size of the triangle.
  `$color`            |               | Color of the triangle.
  `$direction`        |               | In which direction is the triangle pointing (left, right, top, bottom).
  `$offset-direction` | top           | *(Optional)* If the triangle should be moved to be positioned, in which direction should it be moved (top, left, right, bottom).
  `$offset`           | 0             | *(Optional)* If the triangle should be moved, how much (distance unit).

//enddoc


= triangle($size, $color, $direction, $offset-direction: top, $offset: 0)
  +asymmetric-triangle($size, $size, $color, $direction, $offset-direction, $offset)

= triangle-with-border($size, $color, $border-width, $border-color, $direction, $offset-direction: top, $offset: 0)
  +asymmetric-triangle($size, $size, $color, $direction, $offset-direction, $offset, after)
  +asymmetric-triangle($size + $border-width * 2, $size + $border-width * 2, $border-color, $direction, $offset-direction, $offset + $border-width * 2, before)

//doc
  ---
  title: asymmetric-triangle
  name: asymmetric-triangle
  category:
    - ornaments
  ---

  <code class="usage-example">
    +asymmetric-triangle(10px, 20px, red, bottom)
  </code>

  Uses the ``:before`` pseudo-element to display a triangle with asymmetrical edges (you can specify width and height of the triangle).

  Parameter           | Default       | Description
  --------------------|---------------|------------------------------
  `$width`            |               | Width of the triangle.
  `$height`           |               | Height of the triangle.
  `$color`            |               | Color of the triangle.
  `$direction`        |               | In which direction is the triangle pointing (left, right, top, bottom).
  `$offset-direction` | top           | *(Optional)* If the triangle should be moved to be positioned, in which direction should it be moved (top, left, right, bottom).
  `$offset`           | 0             | *(Optional)* If the triangle should be moved, how much (distance unit).

//enddoc

= asymmetric-triangle($width, $height, $color, $direction, $offset-direction: top, $offset: 0, $pseudo: before)
  &::#{$pseudo}
    content: ''
    position: absolute
    border-#{$direction}: none

    @if $direction == left
      border:
        right: $width solid $color
        top: $height solid transparent
        bottom: $height solid transparent
      left: -$width
      right: auto !important
    @else if $direction == top
      border:
        bottom: $height solid $color
        left: $width solid transparent
        right: $width solid transparent
      top: -$height
    @else if $direction == right
      border:
        left: $width solid $color
        top: $height solid transparent
        bottom: $height solid transparent
      right: -$width
      left: auto
    @else if $direction == bottom
      border:
        top: $height solid $color
        left: $width solid transparent
        right: $width solid transparent
      bottom: -$height
      left: auto
      top: auto

    @if $offset != 0
      #{$offset-direction}: $offset