//doc
  ---
  title: debug
  name: debug
  category: utilities
  ---

  <code class="usage-example">
    +debug
  </code>

  Adds a colored border around an element to serve as a visual debugging aid.

  Parameter         | Default       | Description
  ------------------|---------------|------------------------------
  `$color`          | red           | Color of the border.

//enddoc

= debug($color: red)
  border: 1px solid $color