<!doctype html>
<html>
  <head>
    <title>mixeta library documentation: <%= title %></title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <div class="hologram-container">
      <nav class="hologram-main-nav">
        <h1 class="hologram-title">Mixeta</h1>
        <ul>
        <% @categories.each do |category, file_name| %>
          <li><a href="<%= file_name %>"><%= category %></a></li>
        <% end %>
        </ul>
      </nav>

      <section class="hologram-content">
        <% if @blocks.any? %>
        <nav class="hologram-toc">
          <h2 class="hologram-subtitle">Table of contents</h2>
          <ul>

            <% @blocks.each do |b| %>
              <li><a href="#<%= b[:name] %>"><%= b[:title] %></a></li>
            <% end %>
          </ul>
        </nav>
        <% end %>