@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
p {
  margin: 20px 0; }

.hologram-subtitle {
  font-size: 12px; }

.hologram-toc {
  font-size: 14px; }

.hologram-title {
  font-size: 16px; }

*, *::after, *::before {
  box-sizing: border-box; }

html {
  font-family: "Source Sans Pro", sans-serif;
  color: #555555; }

body {
  padding: 0;
  margin: 0;
  line-height: 1.4; }

ul {
  padding: 0;
  list-style-type: none; }

a {
  color: #f086a1; }

.hologram-title {
  text-transform: uppercase; }

.hologram-subtitle {
  text-transform: uppercase; }

.hologram-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-height: 100vh; }

.hologram-main-nav {
  background: whitesmoke;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
  padding: 20px; }
  .hologram-main-nav li {
    border-bottom: 1px solid white;
    padding: 10px 0; }
  .hologram-main-nav a {
    text-decoration: none;
    text-transform: capitalize; }

.hologram-content {
  flex-grow: 1;
  padding: 20px; }
  .hologram-content h1 {
    margin-top: 80px;
    margin-bottom: 0;
    line-height: 1.2; }

.hologram-toc {
  background: whitesmoke;
  border: 1px solid #fbfbfb;
  border-radius: 3px;
  padding: 10px 20px; }
  .hologram-toc li {
    display: inline-block; }
    .hologram-toc li::after {
      content: ", "; }
    .hologram-toc li:last-child::after {
      content: ""; }

table {
  border-collapse: collapse; }
  table td, table th {
    padding: 10px 40px 10px 10px; }
  table th {
    text-align: left; }
  table th {
    border-bottom: 2px solid #eeeeee; }
  table tr {
    border-bottom: 1px solid #eeeeee; }
  table tr:last-child td {
    border-bottom: none; }

code {
  background: #fbfbfb;
  border: 1px solid #eeeeee;
  padding: 2.5px 5px;
  border-radius: 3px;
  color: #f086a1; }
  code.usage-example {
    color: #888888;
    margin-bottom: 10px;
    display: inline-block; }
