@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700)

$u: 20px
$hu: $u/2
$du: 2 * $u

$ui-light: #f5f5f5

//$primary: #D75B58
//$primary: #679DA1
//$primary: #46975B
//$primary: #E86840
//$primary: #DB5174
//$primary: #F49188
$primary: #F086A1

$primary_p: lighten($primary, 35%)

$secondary: #eee
$secondary_p: lighten($secondary, 5%)

$text-color: #555
$text-color_m: lighten($text-color, 20%)

$sidebar-menu-width: 200px
$sidebar-bg: $ui-light
$toc-bg: $ui-light
$link-color: $primary

p
  margin: $u 0

%text-xs
  font-size: 12px

%text-s
  font-size: 14px

%text-m
  font-size: 16px

// beige #FAF9F4
// nice blue #679DA1
// green #46975B
// orange #E86840
// pink #DB5174


*, *::after, *::before
  box-sizing: border-box

html
  font-family: 'Source Sans Pro', sans-serif
  color: $text-color

body
  padding: 0
  margin: 0
  line-height: 1.4

ul
  padding: 0
  list-style-type: none

a
  color: $link-color


.hologram-title
  @extend %text-m
  text-transform: uppercase

.hologram-subtitle
  @extend %text-xs
  text-transform: uppercase


.hologram-container
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  align-items: stretch
  min-height: 100vh

.hologram-main-nav
  background: $sidebar-bg
  flex-grow: 0
  flex-shrink: 0
  flex-basis: $sidebar-menu-width
  padding: $u

  li
    border-bottom: 1px solid $primary_p
    padding: $hu 0

  a
    text-decoration: none
    text-transform: capitalize

.hologram-content
  flex-grow: 1
  padding: $u

  h1
    margin-top: $u * 4
    margin-bottom: 0
    line-height: 1.2



.hologram-toc
  background: $toc-bg
  border: 1px solid $secondary_p
  border-radius: 3px
  padding: $hu $u
  @extend %text-s

  li
    display: inline-block
    &::after
      content: ', '
    &:last-child::after
      content: ''

table
  border-collapse: collapse
  td, th
    padding: $hu $du $hu $hu
  th
    text-align: left
  th
    border-bottom: 2px solid $secondary
  tr
    border-bottom: 1px solid $secondary
  tr:last-child td
    border-bottom: none

code
  background: $secondary_p
  border: 1px solid $secondary
  padding: $hu/4 $hu/2
  border-radius: 3px
  color: $primary
  &.usage-example
    color: $text-color_m
    margin-bottom: $hu
    display: inline-block

