//doc
  ---
  title: clearfix
  name: clearfix
  category:
    - layout
    - utilities
  ---

  <code class="usage-example">
    +clearfix
  </code>

  Clears floated elements without hiding their overflowing content. Based on
  the method described in <http://nicolasgallagher.com/micro-clearfix-hack/>.

//enddoc

= clearfix
  &::before, &::after
    content: ''
    display: table
  &::after
    clear: both